html {
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  font-size: larger;
}

.main {
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}


section {
  margin-top: 40px;
  padding: 20px;
}

.contenedor{
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: pink;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 50;
}

.header .logo{
  cursor: pointer;
}

.header .logo img{
  border-radius: 40px;
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover{
  transform: scale(1.2);
}

ul {
  list-style: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav ul li {
  display: inline;
  padding: 0 20px;
  margin-right: 15px;
}

nav ul li a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 700;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  color: #f1a7a7;
  text-decoration: underline;
}

nav img {
  width: 60px;
  align-items: left;
  padding-right: 150px;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
  padding-left: 33%;
}

.introduccion {
  text-align: justify;
  font-size: larger;
}

#home[ position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px;
display: flex;
justify-content: center;

] 
#home .donar-info img {
  width: 940px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#home .banner {
  width: 100%;
}

h3,
h2 {
  text-align: center;
  font-size: xx-large;
}

#ser-donate {
  padding: 40px 20px;
}

.ser-donate {
  position: absolute;
  width: 940px;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
  font-size: x-large;
}

.ser-donate img.icono {
  position: relative;
  float: left;
  padding: auto;
  z-index: -100;
}

.ser-donate li.icono {
  position: relative;
  float: right;
}

iframe {
  width: 100%;
  align-items: center;
  padding: 20px;
}

.contraindicacion {
  list-style: square;
  margin-left: 20px;
}

.miImagen {
  width: 40px !important;
}

/* Estilos para la animación */
@keyframes moveImage {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Estilos para la imagen */
.miImagen {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: moveImage;
}

.miImagen:hover {
  animation-play-state: paused;
}

.miImagen {
  width: 150px !important;
  float: left;
  padding: 10px 55px 0 0;
}

h4 {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  text-decoration: underline;
  color: #f1a7a7;
}

#testimonios div {
  position: absolute;
  width: 940px;
  overflow: hidden;
  margin: 0 auto;
  padding: 35px;
  font-size: x-large;
}

#testimonios img.miImagen {
  position: relative;
  float: left;
  padding: auto;
  z-index: -100;
}

#testimonios p {
  position: relative;
  float: right;
}

.cita {
  font-style: italic;
  font-weight: bold;
}


aside {
  float: right;

  margin: 0 0;
  padding: 105px 5px;
  width: 40%;
}

aside img{
  width: 100%;
  max-width: 1000px;
}

form {
  margin: 40px 0;
}

form label {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 10px;
}

form input,
form textarea {
  display: block;
  margin: 0 0;
  padding: 10px 25px;
  width: 40%;
}
#enviar {
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  background: rgb(172, 168, 168);
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}

#enviar:hover {
  background: pink;
  transform: scale(1.1);
}

.container button{
  width: 40%;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
  background: rgb(172, 168, 168);
  border: none;
  border-radius: 10px;
  transition: 1s all;
  cursor: pointer;
}
.container button:hover{
  background: pink;
  transform: scale(1.1);
}
#asesor{
  width: 240px;
}
footer {
  
  height: 100%;
  background-color: pink;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  }


/* En resoluciones menores a 800px */
@media screen and (max-width: 800px) {
  body{
    background-color: rgb(243, 199, 206);
  }
}


/* En resoluciones menores a 450px */
@media screen and (max-width: 449px){
  .header{
   height: 30%;
  }
  a {
     display: block;
  }
  li {
     display: block;
  }
  #home{
    margin-top: 150px;
  }
}
