body {
  width: 940px;
  margin: 0;
  padding: 0;
}
main{
  width: 940px;
  margin: 0 auto;
}

section {
  margin-top: 40px;
  padding: 20px;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

#home .donar-info img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la animación */
@keyframes moveImage {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

/* Estilos para la imagen */
.miImagen {
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: moveImage;
}

.miImagen:hover {
  animation-play-state: paused;
}

#testimonios div {
  position: absolute;
  width: 940px;
  overflow: hidden;
  margin: 0 auto;
}

#testimonios img.miImagen {
  position: relative;
  float: left;
}

#testimonios p {
  position: relative;
  float: right;
}

form{
  margin: 40px 0;
}

form label{
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

form input, form textarea{
  display: block;
  margin: 0 0;
  padding: 10px 25px;
  width: 50%;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}